# Default ignored files
/shelf/
/.idea/workspace.xml
# Ignored default folder with query files
/queries/
/dataSources/
/dataSources.local.xml
/httpRequests/
node_modules/
.env   
.idea/
full_project.txt